@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

.login {
    height: 100vh;
    background: linear-gradient(34deg, rgba(34, 193, 195, 1) 37%, rgba(222, 165, 42, 0.8818629502582283) 94%);
}

.login-form {
    width: 40%;
}
